# Node dependencies
node_modules/
.npm

# Strapi cache, build, uploads, and temp
.tmp/
build/
.cache/
.strapi/
public/uploads/
dist/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Markdown restrictions
*.md
!README.md
!readme.md
